:root {
    --beige-color: #F8F4EC;
    --light-pink-color: #FF9BD2;
    --pink-color: #D63484;
    --retro-black-color: #402B3A;
}

body {
    background-color: var(--beige-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

header{
    height: 75px;
    flex-shrink: 0;
    background-color: var(--light-pink-color);
    width: 100vw;
    text-align: center;
}

footer {
    height: 50px;
    flex-shrink: 0;
    background-color: var(--pink-color);
    text-align: center;
    width: 100vw;
}
  
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.score {
    display: flex;
}

.scorecard {
    margin: 20px 0px;
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 0;
    font-size: 1rem;
}

.scoreboard{
    text-align: center;
    font-size: 3rem;
    width: 5rem;
    border: var(--retro-black-color) solid 1px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.options button {
    padding: 10px;
}

.last-round-display {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-round {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.last-choice-image {
    max-width: 200px;
    border: var(--retro-black-color) solid 1px;
}

#end-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -120px;
    gap: 20px;
}

#end-game > p {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

.restart-button {
    font-size: 2rem;
    padding: 5px;
}